<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="allowInsecureConnections" value="true" />
        <add key="globalPackagesFolder" value=".\packages" />
    </config>
    <packageSources>
        <clear />
        <!-- 本地包源 (备用) -->
        <add key="local" value=".\packages" />
        <!-- GitLab NuGet 源 -->
        <add key="gitlab" value="http://10.9.1.153:8687/api/v4/projects/33/packages/nuget/index.json" allowInsecureConnections="true" />
        <!-- NuGet.org 公共源 -->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <gitlab>
            <add key="Username" value="root" />
            <add key="ClearTextPassword" value="Vg48Ep_Fexap8zgM74RL" />
        </gitlab>
    </packageSourceCredentials>
    <packageSourceMapping>
        <!-- Luster 内部包优先从 GitLab 获取 -->
        <packageSource key="local">
            <package pattern="Luster.*" />
            <package pattern="HslCommunication" />
            <package pattern="FinSensor" />
            <package pattern="VisionWPFControl" />
            <package pattern="SimpleTCP" />
            <package pattern="MoonPdfLib" />
            <package pattern="Aspose.*" />
            <package pattern="MouseKeyboardActivityMonitor" />
            <package pattern="DynamicExpresso" />
            <package pattern="GvVision.*" />
            <package pattern="Microsoft.Msagl.*" />
            <package pattern="HandyControl" />
        </packageSource>
        <!-- 其他包从 nuget.org 获取 -->
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
    <packageRestore>
        <add key="enabled" value="True" />
    </packageRestore>
</configuration>
