<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<appSettings>
		<!--指纹认证支持-->
		<add key="FPSensor" value="False"/>
		<add key="FPNum" value="300"/>
		<add key="IsIPhone" value="False"/>
		<add key="UITemplate" value=""/>
		<add key="StartContent" value="LoginContent"/>
		<add key="FXAdminCardID" value="3122274340;3131364356;3135817492;3121011716;0150537942;3132773380"/>

		<!--<add key="UITemplate" value="FX"/>-->
		<!--<add key="UITemplate" value="LuXshare"/>-->
		<!--<add key="Style" value="Luster.Motion.SubSystem.LuXshare"/>-->
	</appSettings>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  >
		<targets>
			<target xsi:type="File"
					name="logfile"
					maxArchiveDays="30"
					archiveOldFileOnStartup="true"
					archiveAboveSize="10240000"
					fileName="${var:LogDir}/STEP${shortdate}.log"
					encoding="utf-8"
					writeBom="true"
					layout="[${threadid}]|${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
			<target xsi:type="File"
					name="log3D"
					maxArchiveDays="30"
					archiveAboveSize="10240000"
					archiveOldFileOnStartup="true"
					fileName="${var:LogDir}/${shortdate}_3D.log"
					layout="[${threadid}]|${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
			<target xsi:type="File"
					name="logVision"
					maxArchiveDays="30"
					archiveAboveSize="10240000"
					archiveOldFileOnStartup="true"
					fileName="${var:LogDir1}/STATUS${shortdate}_vision.log"
					encoding="utf-8"
					writeBom="true"
					layout="[${threadid}]|${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
			<target xsi:type="File"
					name="logVisionHeart"
					maxArchiveDays="30"
					archiveAboveSize="10240000"
					archiveOldFileOnStartup="true"
					fileName="${var:LogDir1}/STATUS${shortdate}_visionheart.log"
					encoding="utf-8"
					writeBom="true"
					layout="[${threadid}]|${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
			<target xsi:type="File"
					name="logVisionRegister"
					maxArchiveDays="30"
					archiveAboveSize="10240000"
					archiveOldFileOnStartup="true"
					fileName="${var:LogDir1}/STATUS${shortdate}_visionregister.log"
					encoding="utf-8"
					writeBom="true"
					layout="[${threadid}]|${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
			<target xsi:type="File"
					name="logVisionMachineStatus"
					maxArchiveDays="30"
					archiveAboveSize="10240000"
					archiveOldFileOnStartup="true"
					fileName="${var:LogDir1}/STATUS${shortdate}_visionmachinestatus.log"
					encoding="utf-8"
					writeBom="true"
					layout="[${threadid}]|${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
			<target xsi:type="File"
					name="logVisionMachineIndicator"
					maxArchiveDays="30"
					archiveAboveSize="10240000"
					archiveOldFileOnStartup="true"
					fileName="${var:LogDir1}/STATUS${shortdate}_visionmachineindicator.log"
					encoding="utf-8"
					writeBom="true"
					layout="[${threadid}]|${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
			<target xsi:type="File"
					name="logVisionMachineControl"
					maxArchiveDays="30"
					archiveAboveSize="10240000"
					archiveOldFileOnStartup="true"
					fileName="${var:LogDir1}/STATUS${shortdate}_visionmachinecontrol.log"
					encoding="utf-8"
					writeBom="true"
					layout="[${threadid}]|${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
			<target xsi:type="File"
					name="logVisionMachineParameter"
					maxArchiveDays="30"
					archiveAboveSize="10240000"
					archiveOldFileOnStartup="true"
					fileName="${var:LogDir1}/STATUS${shortdate}_visionmachineparameter.log"
					encoding="utf-8"
					writeBom="true"
					layout="[${threadid}]|${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
			<target xsi:type="File"
		            name="logVisionProductInformation"
					maxArchiveDays="30"
		            archiveAboveSize="10240000"
		            archiveOldFileOnStartup="true"
	            	fileName="${var:LogDir1}/STATUS${shortdate}_visionproductinformation.log"
					encoding="utf-8"
					writeBom="true"
	            	layout="[${threadid}]|${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
			<target xsi:type="File"
					name="logHive"
					maxArchiveDays="30"
					archiveAboveSize="10240000"
					archiveOldFileOnStartup="true"
					fileName="${var:LogDir}/${shortdate}_hive.log"
					layout="[${threadid}]|${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
			<target xsi:type="File"
					name="logHTrain"
					maxArchiveDays="30"
					archiveAboveSize="10240000"
					archiveOldFileOnStartup="true"
					fileName="${var:LogDir}/${shortdate}_hypertrain.log"
					layout="[${threadid}]|${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
			<target xsi:type="File"
					name="logSFC"
					maxArchiveDays="30"
					archiveAboveSize="10240000"
					archiveOldFileOnStartup="true"
					fileName="${var:LogDir}/${shortdate}_SFC.log"
					layout="[${threadid}]|${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
			<target xsi:type="File"
					name="logAOI"
					maxArchiveDays="30"
					archiveAboveSize="10240000"
					archiveOldFileOnStartup="true"
					fileName="${var:LogDir}/${shortdate}_AOI.log"
					layout="[${threadid}]|${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
			<target xsi:type="File"
					name="logWhole"
					maxArchiveDays="30"
					archiveAboveSize="10240000"
					archiveOldFileOnStartup="true"
					fileName="${var:LogDir}/${shortdate}_WholeLine.log"
					layout="[${threadid}]|${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
			<!--<target xsi:type="File"
					name="logParam"
					maxArchiveDays="30"
					archiveAboveSize="10240000"
					archiveOldFileOnStartup="true"
					fileName="${var:LogDir2}/${shortdate}_Parameter.log"
					layout="[${threadid}]|${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}" />-->
		</targets>

		<rules>
			<!--<logger name="*" minlevel="Info" writeTo="logconsole" />-->
			<logger name="HyperTrain" minlevel="Debug" writeTo="logHTrain" final="true"/>
			<logger name="Hive" minlevel="Debug" writeTo="logHive" final="true"/>
			<logger name="Vision" minlevel="Debug" writeTo="logVision" final="true"/>
			<logger name="VisionHeart" minlevel="Debug" writeTo="logVisionHeart" final="true"/>
			<logger name="VisionRegister" minlevel="Debug" writeTo="logVisionRegister" final="true"/>
			<logger name="VisionMachineStatus" minlevel="Debug" writeTo="logVisionMachineStatus" final="true"/>
			<logger name="VisionMachineIndicator" minlevel="Debug" writeTo="logVisionMachineIndicator" final="true"/>
			<logger name="VisionMachineControl" minlevel="Debug" writeTo="logVisionMachineControl" final="true"/>
			<logger name="VisionMachineParameter" minlevel="Debug" writeTo="logVisionMachineParameter" final="true"/>
			<logger name="VisionProductInformation" minlevel="Debug" writeTo="logVisionProductInformation" final="true"/>
			<logger name="Holo3D" minlevel="Debug" writeTo="log3D" final="true"/>
			<logger name="SFC" minlevel="Debug" writeTo="logSFC" final="true"/>
			<logger name="AOI" minlevel="Debug" writeTo="logAOI" final="true"/>
			<logger name="WholeLine" minlevel="Debug" writeTo="logWhole" final="true"/>
			<logger name="*" minlevel="Debug" writeTo="logfile" />
		</rules>
	</nlog>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Langs;Holo3D;Algorithm;Dlls" />
		</assemblyBinding>
		<AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false" />
	</runtime>
</configuration>